* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto Condensed', sans-serif;

}

body{
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background-image: url(./assets/pngwing.com\(2\).png); /* Ruta de la imagen de fondo */
    background-size: 800px 1200px; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: left; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Mantiene la imagen fija mientras se desplaza la página */
    background-repeat: no-repeat;
}



.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#mesero {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin-right: 50px;
    font-size: 30px;

}

#orden {

    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin-right: 50px;
    font-size: 24px;
}

#btn-submit {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 20px;
    background-color:red;
    color: white;
    border-color: brown;
}

.order-title{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    font-size: 30px;
}

#order-container {

    margin-left: 250px;
    border: 1px black solid;
    border-radius: 10px;
    width: 1500px;
    margin-top: 50px;

}

#order-container ul{
margin-top: 30px;

}

.orden-item{
    margin-top: 30px;
}

#ordenes{
    margin-left: 200px;
}

.btn-edit{
width: 70px;
height: 50px;
background-color: green;
color: white;
border-radius: 50px;
margin-top: 20px;
}

.btn-delete{
width: 70px;
height: 50px;
background-color: red;
color: white;
border-radius: 50px;
margin-top: 20px;
}

p{
    font-size: 25px;
    margin-top: 25px;
}
hr{
    margin-top: 20px;
}