*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#form{
    width: 100vw;
    height: calc(100vh - 100px);
    display: block;
    justify-content: center;
}

hr{
    width: 100%;
    height: 1px;
}

#btn-add{
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: blue;
    border-radius: 20px;
}